.head-parent {
  height: 10vh;
  width: 100%;
  margin: 0px;
  background-color: white;
  position: sticky;
  z-index: 1024;
  top: 0;
  left: 0;
}
.be-div {
  padding-top: 22px;
  margin-left: 230px;
}
.be {
  font-size: 35px;
  font-weight: bolder;
}
.theme-p {
  font-size: 30px;
  margin-left: 3px;
  font-weight: 500;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  margin-top: 2px;
}

.second-head-div {
  padding-left: 340px;
  margin-top: 35px;
}
.second-div-p {
  margin-left: 20px;
  font-size: 15px;
  font-weight: 500;
}
.line {
  background-color: rgba(128, 128, 128, 0.147);
  height: 40px;
  margin-top: -10px;
  margin-left: 20px;
  width: 1px;
  
}
.third-div {
  margin-top: 25px;
  margin-left: 40px;
}

.mid-con-div {
  background-image: url(https://images.unsplash.com/photo-1614854262340-ab1ca7d079c7?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=2340&q=80);
  height: 85vh;
  background-size: cover;
}
.welcome {
  font-size: 60px;
  margin-top: -200px;
}

.fiexd {
  width: 40px;
  height: 40px;
  position: fixed;
  margin-left: 96%;
  margin-top: 46vh;
}
.p-wordpress {
  margin-top: -400px;
  font-size: 35px;
  font-weight: 300;
}
.build {
  font-size: 35px;
  font-weight: 300;
}
.img-button {
  padding-right: 20px;
  padding-left: 20px;
  font-size: 20px;
  font-weight: 700;
  margin-top: 20px;
}

// end of img div

.third-div-m {
  margin-top: 300px;
}

.purpose {
  font-weight: 900;
}
.third-first-div {
  margin-left: 100px;
  padding-bottom: 100px;
}

.big-line {
  background-color: rgba(128, 128, 128, 0.147);
  height: 250px;
  margin-top: -10px;
  margin-left: 40px;
  margin-right: 40px;
  width: 1px;
}

// end of third div

.fourthD-div {
  background-color: whitesmoke;
  height: 60vh;
  width: 100%;
}

.fourthD-first-p {
  font-size: 35px;
  font-family: sans-serif;
  font-weight: 550;
  padding-top: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.six {
  font-size: 70px;
  font-family: sans-serif;
  margin-bottom: 0px;
}
.number-div {
  margin-top: 40px;
}
.pre-build-website {
  font-family: sans-serif;
  font-size: 20px;
  font-weight: 800;
  margin-top: 0px;
}
.sm-line {
  background-color: rgba(128, 128, 128, 0.138);
  height: 1px;
  margin-left: 25px;
  margin-top: 20px;
  width: 100px;
}
.number-di {
  margin-top: 40px;
  margin-left: 104px;
}
.fontb {
  font-weight: 800;
  font-family: sans-serif;
  font-size: 16px;
}
.f-f-div {
  margin-left: 520px;
}
.usefulLinks {
  font-size: 20px;
  font-weight: 700;
  //   margin-top: 170px;
  //   margin-left: 100px;
}
.main-foot {
  background-color: black;
}

.list {
  list-style-type: none;
  margin-left: 0px;
}

.lis {
  font-weight: 200;
  margin-left: 0px !important;
  padding-left: 0px !important;
}
.s-line {
  background-color: rgba(128, 128, 128, 0.456);
  height: 1px;

  margin-top: 5px;
  margin-bottom: 3px;
  margin-left: -10px;
  width: 130px;
}

.b-line {
  background-color: rgba(128, 128, 128, 0.456);
  height: 1px;
  width: 100%;
  margin-top: 100px;
}

.last-p {
  font-size: 13px;
  margin-left: 500px;
}


// product div

$font: 17px;
$font-famliy: sans-serif;
$icon-font: 40px;
$color:#0089f7;

.product-h1{
  font-family: sans-serif;
  font-weight: 800;
  font-size: 45px;
}

.divider{
  width: 100%;
  height: 1px;
  background-color: rgba(255, 255, 255, 0.137);
}


.colFirst{
  font-size: $font;
  font-weight: 800;
  font-family: $font-famliy;
}
.icon-font{
  font-size: $icon-font;
  color: white;

}

.icon-font:hover{
  color: white;
}

.sv-line {
  background-color: rgba(128, 128, 128, 0.456);
  height: 1px;

  margin-top: 5px;
  margin-bottom: 3px;

  width: 180px;
}
.hove:hover{
  background-color: #0089f7;
  padding-left: 10px;
  border-radius: 5px;
}

.parent-product-div{
  padding-left: 170px;
}

.all{
  font-weight: 900;
  font-family: sans-serif;
}
.hove-p{
  padding-left: 10px;
}
.cross{
  font-size: 23px;
}
.auth-input{
border: none;
background-color: rgba(219, 218, 218, 0.193);
margin-left: 8px;
margin-right: 10px;
}

.madal-p{
  font-family: sans-serif;
  font-weight: 600;
}
.login-btn{
  font-size: 20px;
  font-weight: 600;
}
.s1{
  margin-left: 600px;
  font-family: Arial, Helvetica, sans-serif;
  font: 43px;
}
.s2{ background-color: #e4eaee63;
  padding: 30px 0px;
  

}
.s3{
  display: flex ;
  margin-left:  560px;
}
.s4{ margin-left: 20px;
  font-size: 14px;
color: #4c4e50b4;
font-family: Arial, Helvetica, sans-serif;}

.s5{
  display: flex;
  // margin-top: 60px;
  // margin-left: 80px;
  // margin-bottom: 40px; 
  padding: 60px;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 14px;
}
.s6{
  color: #4c4e50b4; }

  .s7{
    
    color: #0089f7;
  }
  .s8{ padding-left: 15px;
  color: #0089f7;}
  .s9{ color: #0089f7;
  padding-left: 800px; display: flex;}
  .s10{
    height: 250px; width: 340px;
  
  }
  .s11{height: 250px; width: 340px;

  }
  .s12{
    height: 250px; width: 340px;
 }
 .s13{
   display: flex;
   justify-content: space-between;
 }
 .s14{
   display: flex; margin: 20px;
  //  margin-left: 120px;
   color: #4c4e50b4;
   font-family: Arial, Helvetica, sans-serif;
 }
 .s15{ 
   margin-left: 5px; margin-right: 5px;
 }
 .s16{
   display: flex; justify-content: space-between;
  margin-right: 120px; margin-left: 120px;
 }
 .s17{
   display: flex; font-weight: 16px; justify-content: space-between; 
 }